{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}



{% block content %}
<br>
<h1>{{ post.title }}</h1> <small>{{ post.blog_date }}</small>
<small>By:
    {{ post.author.first_name }}
    {{ post.author.name_name }}

    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}

    <a href="{% url 'update_post' post.pk %}">Edit</a><br>
    {% endif %}
    {% endif %}
</small>
<hr>
<br>
{{ post.body|safe }}


<br>
<br>
<a class="btn btn-dark" href="{% url 'home' %}">Back</a>

<br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-info btn-sm">Like</button> - {{ total_likes }}
</form>


{% endblock %}