{% extends 'base.html' %}
{% block content %}




<h1 class="poop">Post</h1>
<ul>
  {% for post in object_list %}
  <small class="text-primary"> {{ post.category }}</small>
  <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <small>{{ post.blog_date }}</small> -
    <small>{{ post.author.first_name }}
      {{ post.author.last_name }} </small> {% if user.is_authenticated %}
    <br>
    {% endif %}


    {{ post.body|slice:"200"|safe }} </li> <br>
  {% endfor %}
</ul>


{% endblock %}