{% extends 'base.html' %}
{% block content %}




<img src="https://cdn.discordapp.com/attachments/795185441778303052/989727761931329557/unknown.png" class="img-fluid"
  alt="...">

<br>
<br>

<div class="clearfix">
  <img
    src="https://cdn.discordapp.com/attachments/795185441778303052/990075896314626058/Z2oEyj7zwJEy2WZPJNKx3-1200-80_1.jpg"
    class="container col-md-6 float-md-end mb-3 ms-md-3" width="350" height="245" alt="...">

  <figure class="text-left">
    <blockquote class="blockquote">
      <p>The Gaming Blog</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Come along on the adventure and share your thoughts for all to see.
    </figcaption>
  </figure>


  <p>
    Welcome to the <strong> Gaming Blog </strong>, where you and the community can network and debate all the hot issues
    from around the
    world on each system, including the Xbox, PlayStation, and PC.

    Some of you may have come upon this page and wondered what a blog was. A blog (short for "weblog") is an online
    diary or instructional website that displays content in reverse chronological order, with the most recent updates at
    the top. It is a platform where a writer or a group of authors may express their thoughts on a certain topic.
  </p>

  <p> <strong> What motivated the creation of this website? </strong> It was created by a group of friends who enjoyed
    gossiping about games
    and discussing which platforms are the best. We all know that this is determined by a variety of criteria, including
    the specifications of each system, who offers the greatest games, the best bargains, and so on. This is the gamers'
    safe haven for argument, where we can all release our inner geeks via friendly banter debate.</p>

  <p>To locate a blog, simply go to the top of the site and click on 'Find Blogs.' From there, you may select your
    chosen category and you're done! To use all of these features, you must first <strong>create</strong> an account with us!</p>

</div>
<hr>
<ul>

  <div class="container">
    <div class="slider">
      <div class="slider__slides">
        <div class="slider__slide active"></div>
        <div class="slider__slide"></div>
        <div class="slider__slide"></div>
        <div class="slider__slide"></div>
      </div>
    </div>
  </div>

  {% endblock %}