{% extends 'base.html' %}
{% block content %}




<img src="https://cdn.discordapp.com/attachments/795185441778303052/989727761931329557/unknown.png" class="img-fluid"
  alt="...">

<br>
<br>

<div class="clearfix">
  <img src="https://cdn.discordapp.com/attachments/795185441778303052/990075896314626058/Z2oEyj7zwJEy2WZPJNKx3-1200-80_1.jpg"
    class="container col-md-6 float-md-end mb-3 ms-md-3" width="350" height="245" alt="...">

  <p>
    Welcome to the <strong> Gaming Blog </strong>, where you and the community can network and debate all the hot issues from around the
    world on each system, including the Xbox, PlayStation, and PC.

    Some of you may have come upon this page and wondered what a blog was. A blog (short for "weblog") is an online
    diary or instructional website that displays content in reverse chronological order, with the most recent updates at
    the top. It is a platform where a writer or a group of authors may express their thoughts on a certain topic.
  </p>

  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some
    actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no
    tangible information at. It simply takes up space and should not really be read.
  </p>

  <p>
    And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some
    hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
  </p>
</div>


<ul>
  {% for post in object_list %}
  <small class="text-primary"> {{ post.category }}</small>
  <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <small>{{ post.blog_date }}</small> -
    <small>{{ post.author.first_name }}
      {{ post.author.last_name }} </small> {% if user.is_authenticated %}
    <br>
    {% endif %}


    {{ post.body|slice:"200"|safe }} </li> <br>
  {% endfor %}
</ul>


{% endblock %}