{% extends 'base.html' %}
{% block title %}Edit Blog{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<br>
<h1>Update Blog</h1>
<div class="mb-3">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark">Update Now</button> <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete Post</a>
</form>
</div>
{% else %}
You're logged in to the incorrect account!!!
{% endif %}
{% else %}

You're not logged in, please login to edit posts!

{% endif %}

{% endblock %}